## Copyright (C) 2019 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Unit]
Description=Fix AppArmor for live mode
Documentation=https://forums.whonix.org/t/live-mode-etc-apparmor-d-tunables-home-d-live-mode-breaks-aa-enforce/5868
DefaultDependencies=no
Before=sysinit.target
Before=apparmor.service
After=local-fs.target
After=systemd-journald-audit.socket

[Service]
Type=oneshot
ExecStart=/usr/libexec/live-mode-apparmor

[Install]
WantedBy=sysinit.target
