## Copyright (C) 2012 - 2018 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: apparmor-profile-anondist
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile, dh-apparmor, config-package-dev
Homepage: https://www.whonix.org/wiki/AppArmor
Vcs-Browser: https://github.com/Whonix/apparmor-profile-anondist
Vcs-Git: https://github.com/Whonix/apparmor-profile-anondist.git
Standards-Version: 3.9.8

Package: apparmor-profile-anondist
Architecture: all
Depends: ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: AppArmor Profile for Anonymity Linux Distributions
 Displaces /etc/apparmor.d/abstractions/base with a version, that includes
 additions required for Anonymity Linux Distributions.
 .
 Does not depend on AppArmor, so this package can be installed by default on
 any anonymity distribution by default, without requiring to also have AppArmor
 installed. Just for the case, AppArmor gets installed later by the user.
